<?php

return array(
    'debug' =>
        true,
    'db' =>
        array(
            'dsn' => 'mysql:host=localhost;charset=utf8;dbname=Chinook',
            'username' => 'root',
            'password' => ''
        ),
);

